.experience{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    
    
}

.experience__img{

    max-width: 70%;
    max-height: 65vh;
}
.experiencia__box{

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(62, 188, 238);
    padding: 1rem;
    margin-bottom: 2rem;
    width: 80%;

}

.experience__info{

    
    padding: 10rem 5rem;
}